@use '@/styles/variables' as *;

.cluster {
    display: grid;
    grid-template-areas: "layer";
    place-items: center;
    background: $white;
    border: solid 2px $blue;
    border-radius: 50%;
    --radius: 25vmin;
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
}
